* {
  box-sizing: border-box;
}
body{
  margin: 10px 20px 10px 20px;
  height: 95vh;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 60px 40px -7px;
  background-color: rgb(255, 255, 255);
}

/* Inicio de la barra de navegación*/ 


/* parametros  solo de la barra de navegación*/ 
.barra-nv{
  display: flex;
  background-color: aqua;
  width: 50%;
  height: 105px;
  position: static;
}


/* parametros  solo del logo*/ 

#logo-b{
  width: 100px;
  height: 100px;
  margin: 2px 2px 2px 2px;

}

.barra-nv li {
  margin: 2px;
  padding: 5px;
  display: inline;

}
/* Fin de la barra de navegación*/ 
